python-dotenv
sqlalchemy[asyncio]
asyncpg
alembic
pytest
pytest-asyncio
pydantic[email]
pydantic-extra-types
pydantic-settings
freezegun
fastapi
uvicorn[standard]
python-jose
cryptography
httpx
typer
bcrypt
sqlmodel
google-auth
requests
asgi-lifespan